body {
  padding-top: 50px;
  background: #D0CFD4;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#status{
  position:absolute;
  top: 15px;
  left: 10px;
  z-index: 50;
  font-weight:bold;
  color: #ffffff;        
}  


#legendWrapper {
  height: 120px;
  width: 120px;
  z-index: 50; 
}


#legend p {
    font-weight: bold;
    font-size: 12px;
    margin-top: 3px;
	margin-bottom: 10px;
}

#legend div {
    clear: both;
	margin-bottom: 1px;
}

.color {
    height: 20px;
    width: 20px;
    margin-right: 3px;
    float: left;
    display: block;		
} 

.modal-sm {
  max-width: 200px;
} 

.radiopos{
  margin-top: 20px;
} 

#legendDiv{width: 180px;}  

.btn-default.active {
    background-color: #ffffff;
    border-color: #adadad;
    color: #000;
    font-weight: bold;
}

.btn-default {
    background-color: #999999;
    border-color: #adadad;
    color: #272727;
} 

.filter-option.pull-left{font-weight: bold;} 
